<connectionStrings>
	<clear />
	<add name="HaiAnhShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=HAIANH;Initial Catalog=HaiAnhShop;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />
	<!--<add name="HaiAnhShopConnection" connectionString="Data Source=HAIANH;Initial Catalog=HaiAnhShop;Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
</connectionStrings>